body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  
  font-family: 'Cousine', monospace;
  // font-size: 16px;
  color:rgb(63, 60, 60);
  scroll-behavior: smooth;
}
h1{ font-size: 1.4rem;}
h3{ font-size: 1.2rem; }
p, figcaption{ font-size: 0.9rem; }
a{text-decoration: none;}

li{ font-size: 0.8rem; }

img { margin-bottom: 10px; }

table {
  thead {
    font-weight: bold;
  }
}

button { border: solid 1px black; font-family: 'Cousine', monospace;}

