img {
    margin-bottom: 10px;
}

/* page styles */
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    height: 70vh;
    width: 70vw;
    background-color: rgb(255, 220, 220);
    padding: 20px;
}

.sidebar, .tab-body {
    padding: 20px;
    background-color: rgb(189, 234, 255);
    border-radius: 5px;
    border: solid 2px #000;
}

.sidebar{
    flex: 1;
    text-align: center;
}

.tabs {
    flex: 3;
    display: flex;
    position: relative;
}
.tab-body{
    display: none;
    z-index: 1;
    flex-basis: 100%;
}

.tab-body.active {
    display: block;
}

.tab-controls {
    width: 100px;
    position: absolute;
    right: -98px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tab-controls button{
    display: block;
    text-decoration: none;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:rgb(121, 194, 145);
}

.tab-controls button.active
/* .tab-controls a:active { */{
    z-index: 1;
    background-color: rgb(189, 234, 255);
    border: solid 2px #000;
    border-left: none;
}