body{
  margin: 0;
}

.notebook-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    width: 100vw;
}

.notebook{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 70vh;
    width: 70vw;
    
}

a{
    text-decoration: none;
    color: #000;
}

